@charset "UTF-8";

/* CSS Document */

*{
    margin:0;
    padding:0;
}

html,body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#111111;
    font-weight:normal;
    background:none;
    margin:0;
    padding:0;

}
